.section-4 {
    margin-bottom: 100px;
}

.section-4-title {
    text-align: center;
    font-weight: 500;
    font-size: 37px;
    margin-bottom: 65px;
}

.service {
    text-align: center;
}

.service p {
    text-align: center;
}

.service-title {
    font-size: 21px;
    font-weight: 500;
    padding-bottom: 0;
    margin: 30px;
}

@media (max-width: 768px) {
    .service-title {
        font-size: 18px;
    }

    .section-4-title {
        font-size: 28px;
    } 
}

@media (max-width: 480px) {
    .section-4-title {
      font-size: 24px;
    }
  }