.section-2 {
    margin-bottom: 65px;
}

.description-title {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.description-text {
    font-weight: 400;
    text-align: left;
}


.description-img {
    max-height: 115px;
}

@media (max-width: 480px) {
    .description-title {
      font-size: 24px;
    }
  }